*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

:root{
    --color-principal: #13236b;
}
/*ESLIZAÇÃO DO MEU BODY, VALO PARA TODOS CONTEUDOS*/
body{
    overflow: hidden;
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(145deg, var(--color-principal) 57%, #e9e9e9 30%);
    padding: 2%;
    position: relative;
    animation: animationcomplet 1.5s 1 ease-in-out;
}

@keyframes animationcomplet {
    0%{
        opacity: 0;
    }
}

/*Animação do X que se forma em locais aleatorios na tela*/
/*
body .x::before{
    position: absolute;
    content: "";
    top:10%;
    left: -6px;
    width: 70px;
    height: 1px;
    background-color: #fff;
    transform: rotate(45deg);
    animation:  xto 2s infinite ease-in-out;
    filter: blur(3px);
}

@keyframes xtop {
   
    0%{
       transform: translateX(-200px);
    }0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: .0;
    }
    100%{
        opacity: 1;
    }
}

body .x1::before{
    position: absolute;
    content: "";
    top:10%;
    left: -6px;
    width: 70px;
    height: 1px;
    background-color: #fff;
    transform: rotate(-45deg);
    animation:  xf 2s infinite ease-in-out;
    filter: blur(3px);
}

@keyframes xf {
    0%{
       transform: translateY(200px);
    }0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: .0;
    }
    100%{
        opacity: 1;
        
    }
}
*/
/*Animação do Triangulo que se forma em locais aleatorios na tela*/
/*
body .tri{
    position: absolute;
    content: "";
    top: 1;
    width: 50px;
    height: 1px;
    background-color: #fff;
    transform: rotate(-60deg);
    animation: triangulorigh 4s infinite ease-in-out;
    filter: blur(3px);
    
}
@keyframes trianguloright {
    0%{
        transform:translateX(123px);
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: .0;
    }
    100%{
        opacity: 1;
    }
}
body .tri1{
    position: absolute;
    content: "";
    top: 1;
    width: 50px;
    height: 1px;
    background-color: #fff;
    transform: rotate(60deg);
    margin-left: 25px;
    animation: triangulolef 4s infinite ease-in-out;
    filter: blur(3px);
}

@keyframes trianguloleft {
    0%{
        transform:translateX(123px);
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
    75%{
        opacity: .4;
    }
    
    100%{
        opacity: 1;
    }
}


body .tri2{
    position: absolute;
    content: "";
    top: 1;
    width: 50px;
    height: 1px;
    background-color: #fff;
    transform: rotate(0deg);
    margin-top: 19px;
    margin-left: 12px;
    animation: triangulobaix 3s infinite ease-in-out;
    filter: blur(3px);
}

@keyframes triangulobaixo {
    0%{
        transform:translateX(123px);
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    75%{
        opacity: .8;
    }
    100%{
        opacity: 1;
    }
}

*/
/*Back interno das imagens (essa imagem fica abaixao dos card de imagens)*/
.backimgjogos{
    width: 150%;
    height: 100%;
    position: absolute;
    top: 0px;
    left:24%;
    transform: rotate(-35deg);
    background-color: #bdb8b8;
    z-index: -2;
}

/*div que fica acima do meu conteudo, sobrepome uma div q esta na diagonal*/
.backg{
    position: absolute;
    width: 200%;
    height: 130%;
    right: 5px;
    transform: rotate(145deg);
    background-color: #13236b;
    z-index: -1;
}
/*div que contem todas os meus cards de jogos */
.minhafotos{
    width: 100%;
    height: 100%;
    position: relative;
    background-color: #ffffff;
    animation: animationcardjogos 1.5s 1 ease-in-out;
}
@keyframes animationcardjogos {
    0%{
        transform: translateX(20px);
    }
}
/*Todos os meus cards dos jogos*/

.minhafotos .fifa{
    position:absolute;
    content: "";
    top: 73px;
    left: 478px;
    transform: rotate(35deg);
    width: 300px;
    height: 2cap;
}
.minhafotos .fifa img{
    width: 100%;
    height: 178px;
    filter: blur(1.7px);
    opacity: 0.2;
}

.minhafotos .fifa1{
    position:absolute;
    content: "";
    top: 23px;
    left: 710px;
    transform: rotate(35deg);
    width: 300px;
    height: 2cap;
}
.minhafotos .fifa1 img{
    width: 100%;
    filter: blur(1.7px);
    opacity: 0.2;
}


.minhafotos .f1{
    position:absolute;
    content: "";
    top: -73px;
    left: 250px;
    transform: rotate(35deg);
    width: 300px;
    height: 2cap;
}
.minhafotos .f1 img{
    width: 100%;
    filter: blur(1.7px);
    opacity: 0.2;
}

.minhafotos .god-of-war{
    position:absolute;
    content: "";
    top:250px;
    left: 735px;
    transform: rotate(35deg);
    width: 300px;
    height: 0px;
}
.minhafotos .god-of-war img{
    width: 101%;
    height: 178px;
    filter: blur(1.7px);
    opacity: 0.2;
}

.minhafotos .home-haranha{
    position:absolute;
    content: "";
    top: -41px;
    left: 900px;
    transform: rotate(35deg);
    width: 300px;
    height: 150px;
}
.minhafotos .home-haranha img{
    width: 100%;
    filter: blur(1.7px);
    opacity: 0.3;
}

.minhafotos .codwarzone{
    position:absolute;
    content: "";
    top: 210px;
    left: 335px;
    transform: rotate(35deg);
    width: 300px;
    height: 150px;
}
.minhafotos .codwarzone img{
    width: 101%;
    height: 152px;
    filter: blur(1.7px);
    opacity: 0.1;
}

.minhafotos .stree{
    position:absolute;
    content: "";
    top: 388px;
    left: 588px;
    transform: rotate(35deg);
    width: 300px;
    height: 150px;
}

.minhafotos .stree img{
    width: 100%;
    filter: blur(1.7px);
    opacity: 0.1;
}

.minhafotos .diablo{
    position:absolute;
    content: "";
    top: 193px;
    left: 923px;
    transform: rotate(35deg);
    width: 320px;
    height: 150px;
}

.minhafotos .diablo img{
    width: 100%;
    filter: blur(1.7px);
    opacity: 0.5;
}

.minhafotos .read{
    position:absolute;
    content: "";
    top: 36px;
    left: 85px;
    transform: rotate(35deg);
    width: 300px;
    height: 150px;
}
.minhafotos .read img{
    width: 100%;
    filter: blur(1.7px);
    opacity: 0.1;
}


/*ESTILIZAÇÃO DO CONTEINER (Contem o logo ps, os link, e o botão sign in)*/
.conteinerheader{
    width: 100%;
    min-height: 4vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    animation: animation-listas .8s 1 ease-in-out;
}
/*Estilização dos links*/

.links ul{
    display: flex;
    gap: 70px;
    list-style: none;
    position: relative;
}

@keyframes animation-listas {
    0%{
        opacity: 0;
    }
}
.links ul li{
    font-size: 0.8rem;
    font-weight: 500;
    color: #fff;
    cursor: pointer;
    transition: .5s ease-in-out;
}
.links ul li:hover{
    color: #d4d4d4;
    transform: scale(1.1);
}
.links ul li:hover::before{
    position:absolute;
    content: "";
    top: 100%;
    width: 40px;
    cursor: pointer;
    border: 1px solid #d4d4d4;
    animation: animation-hover-before .4s 1 ease-in-out;
}

@keyframes animation-hover-before {
    0%{
        width: 0%;
    }
}


/*Estilização do botão (Sign in)*/
.btnsin button{
    background-color: var(--color-principal);
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 20px;
    color: #fff;
    transition: .5s;
    border:  1px solid #d4d4d4;
}
.btnsin button span{
    font-size: .9rem;
    font-weight: 500;
}

.btnsin button:hover{
    background-color: #d4d4d4;
    color: var(--color-principal);
    cursor: pointer;
    border: 1px solid var(--color-principal);
}

/*Estilização do meu conteudo interno, logos, informações e imagem demostrativa*/

.containermain{
    display: flex;
    min-height: 80vh;
    width: 100%;
}
/*ESTLIZAÇÃO DAS LOGOS*/
.logos{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 20px;
    min-height: 100%;
    width: 6%;
}
.logos a{
    color: #fff;
    cursor: pointer;
    position: relative;
    transition: .5s ease-in-out;
    transform: scale(.9);
    animation: animation-logos .8s 1 ease-in-out;
}
@keyframes animation-logos {
    0%{
        transform: translateX(-50px)
    }
}
.logos a:hover{
    color: #d4d4d4;
    transform: scale(1.1);
}
.logos a i{
    font-size: 1rem;
}

/*Estlização dos h1 span e btns*/

.contuido-btns{
    width: 40%;
    min-height: 20%;
    color: #fff;
    padding-top: 5%;
    padding-left: 5%;
    animation: animation-informaes .8s 1 ease-in-out;
}
@keyframes animation-informaes {
    0%{
        opacity: 0%;
        transform: translateX(-150px)
    }
}
.contuido-btns h1{
    font-size: 2.1rem;
    padding-bottom: 20px;
    animation: animation-informacoe .8s 1 ease-in-out;
}
@keyframes animation-informacoes {
    0%{
        transform: translateX(-50px)
    }

}
.contuido-btns span{
   font-size: 1rem;
}

.meusbtn{
    display: flex;
    margin-top: 15%;
    gap: 30px;

}

.btnmaissobre{
    border: 1px solid #d4d4d4;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    background-color: #13236b;
    color: #d4d4d4;
    font-weight: 600;
    transition: .5s;
}
.btnmaissobre:hover{
    background-color:#d4d4d4;
    color:#13236b;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: 1px 1px 14px #ffffff21;
}

.btncompra{
    border: 1px solid #1b318f;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    background-color: #d4d4d4;
    color: #1b318f;
    font-weight: 600;
    transition: .5s;
}

.btncompra:hover{
    background-color: #13236b;
    color: #d4d4d4;
    cursor: pointer;
    border: 1px solid #fff;
    box-shadow: 1px 1px 14px #ffffff21;
}

/*Estilização do img ps5 em destaque lado esquerdo*/

.fotoimgps{
    min-height: 75%;
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fotoimgps img{
    width: 60%;
    animation: animation-imagens 4s 1 ease-in-out;
    animation:aniro 5s 10000 ease-out ;
    filter: drop-shadow(1px 1px 15px rgba(0, 0, 0, 0.719));
}
@keyframes animation-imagens{
    0%{
        opacity: 0%;
        transform: translateX(150px)
    }
}
@keyframes aniro {
    0%{
        pacity: 0%;
        transform: translateX(150px);
       transform: translateY(2px);
    }
    50%{
        transform: translateY(-2px);
    }
    100%{
        transform: translateY(2px)
    }
}